<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aboesmail.omar.pharma">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".Activates.orderDetails"
            android:label="@string/title_activity_order_details"></activity>
        <activity
            android:name=".Activates.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activates.ProductInfo" />
        <activity
            android:name=".Activates.HistoryActivity"
            android:label="@string/title_activity_history"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activates.CartActivity"
            android:label="@string/title_activity_cart_final"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activates.HomeActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Activates.Sign_In_Activity"
            android:parentActivityName=".Activates.MainActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activates.Register"
            android:parentActivityName=".Activates.MainActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activates.MainActivity"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>